body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

#map {
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid #333;
}

.controls {
  margin-bottom: 10px;
  padding: 10px;
  background: white;
  border-radius: 5px;
}

input {
  padding: 5px;
  margin-right: 15px;
  border: 1px solid #ccc;
}

canvas {
  background-color: #fff;
  border: 1px solid #999;
  display: block;
  margin: 0 auto;
}

/* Botón borrar datos */
button {
  padding: 6px 12px;
  margin-left: 10px;
  border: 1px solid #2b62c0;
  background-color: #3c7ee7;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

#panel button:hover {
  background-color: #2baee2;
}

#panel button:active {
  transform: scale(0.97);
}
